In [49]:
#Dependencies
import pandas as pd 
import numpy as np 
import gmaps
import json

from gconfig import gkey
gmaps.configure(api_key=gkey)

In [21]:
file_path = "Results/WeatherPy/citydata.csv"
citydata_df = pd.read_csv(file_path)
citydata_df.head()

,Unnamed: 0,Cities,Lat,Lon,Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
0,0,new norfolk,-42.78,147.06,52.20,64,67,4.00
1,1,tuktoyaktuk,69.45,-133.04,37.40,71,90,8.05
2,2,punta arenas,-53.15,-70.92,41.00,75,20,10.29
3,3,hanting,36.77,119.21,77.45,67,59,2.35
4,4,rikitea,-23.12,-134.97,72.28,80,21,12.08

In [16]:
locations = citydata_df[["Lat","Lon"]]
humidity = citydata_df["Humidity (%)"].astype(float)

In [33]:
figure_layout = {"width":"400px","height":"600px","margin":"0 auto 0 auto"}
fig = gmaps.figure(figure_layout,center=(46.0,-5.0),zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations,weights=humidity,dissipating=False,max_intensity=100,point_radius=2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
temp_df = citydata_df.loc[citydata_df["Temp (F)"] > 70]
good_temp_df = temp_df.loc[temp_df["Temp (F)"] <= 80]
no_wind_df = good_temp_df.loc[good_temp_df["Wind Speed (mph)"] < 10]
no_clouds_df = no_wind_df.loc[no_wind_df["Cloudiness (%)"] == 0]
dest_df = no_clouds_df.loc[no_clouds_df["Humidity (%)"] < 75]
dest_df.head(9)

,Unnamed: 0,Cities,Lat,Lon,Temp (F),Humidity (%),Cloudiness (%),Wind Speed (mph)
40,45,manono,-7.30,27.42,72.70,30,0,4.05
249,280,korla,41.76,86.15,71.01,52,0,1.99
293,329,silopi,37.25,42.47,79.29,18,0,2.01
356,401,mudu,31.25,120.51,78.01,69,0,5.66
363,408,alice springs,-23.70,133.88,71.89,18,0,9.17
378,425,najran,17.49,44.13,77.00,27,0,2.35
412,468,palagiano,40.58,17.04,72.37,65,0,1.95
458,518,hun,29.13,15.95,74.79,56,0,6.64
544,620,darab,28.75,54.54,74.35,37,0,1.43